*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header{
	width: 100%;
	height: 75px;
	background-color: aquamarine;
}
.logosociais{
	width: 50px;
	height: 50px;
	margin-left: 1150px;
}
.logoig{
	width: 50px;
	height: 50px;
}
main{
	width: 100%;
	height: 800px;
	background-color: aquamarine;
}
.fotoperfil{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin-left: 250px;
	margin-top: 50px;
}
.box1{
	width: 350px;
	height: 250px;
	background-color: pink;
	margin-left: 650px;
	margin-top: -280px;
	border-radius: 10%;
}
ul{
	padding: 50px;
	margin-left: 15px;
}
li{
	margin: 15px;
}
.box2{
	width: 750px;
	height: 150px;
	background-color: pink;
	margin-left: 250px;
	margin-top: 100px;
}
p{
	padding: 25px;
	font-size: 20px;
}